body {
    font-family: monospace;
    text-align: center;
    background-color: aliceblue;
}

img {
    width: 20%;
    /* Add CSS code to have more space between each of the images (further apart from one another) */



}